@import "color-theme";

body {
    background: #6D53A6;
}

// header {
//     width: 100%;
//     height: 100vh;
//     background-color: $primary-color;

//     .container-fluid {
//         width: 100%;
//     }


// }



#coverHeader {
    background-color: $primary-color;
    width: 100%;
    height: 100vh;
}

.scrolled {
    visibility: hidden;
    height: 0px;
    transition: height $transition-duration ease-in-out;

    &_#coverHeader {
        height: 0px;
    }
}

.navbarr {
    visibility: hidden;
}

.show-navbar {
    visibility: visible;
    height: $navbar-height;
    background-color: #6D53A6;
    display: d-flex;
    color: $secondary-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: height $transition-duration ease-in-out;
    z-index: 999;

    h1 {
        font-size: 4rem;
        margin: 0;
    }
}


.btn {
    background-color: #F2EEAE !important;
    color: black !important;
}

.navbar-contact {
    color: red;
}

.container-fluid {
    background-color: red;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-left: 54px;

    .logo {
        // background-color: green;
        position: relative;
        top: 16px;
        left: 54px;
    }

    .right-navbar {
        background-color: green;
    }

    .nav-items {
        // background-color: green;

        .nav-item {
            padding-inline-start: 16px;
        }
    }

}



// #mainNavbar {
//     background-color: red;
//     // color: white;
//     // position: relative;
//     // visibility: hidden;

//     .navbar-contact {
//         background-color: #F2EEAE;
//     }
// }

// .navbar-unscrolled {
//     padding: 10px 16px;
//     background: #555;
//     color: #f1f1f1;
//     z-index: 999;
// }

// .navbar-scrolled {
//     height: $navbar-height;
//     background-color: #1f1631;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #f1f1f1;
//     position: top;
//     top: 0;
//     left: 0;
//     width: 100%;
//     transition: height $transition-duration ease-in-out;
//     z-index: 1200;
//     visibility: visible;

//     h1 {
//         font-size: 2rem;
//         margin: 0;
//     }

//     ::after .header {
//         // visibility: hidden;
//         height: 0;
//     }

// }

// // .cover-unscrolled {
// //     height: $header-height;
// //     background-color: black;

// // }

// // .cover-unscrolled {
// //     // visibility: hidden;

// //     justify-content: center;
// //     align-items: center;

// // }


.cover-container {
    max-width: 100%;

    .nav-masthead .nav-link {
        color: rgba(255, 255, 255, .5);
        border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link+.nav-link {
        margin-left: 1rem;
    }

    .nav-masthead .active {
        color: #fff;
        border-bottom-color: #fff;
    }

    #coverHeader {
        max-width: 42em;
        background-color: green;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 100px;
        bottom: 0px;
    }
}










// // // Styles for the header
// // .header-top {
// //     height: $header-height;
// //     background-color: #6D53A6;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     color: #fff;
// //     position: fixed;
// //     top: 0;
// //     left: 0;
// //     width: 100%;
// //     transition: height $transition-duration ease-in-out;
// //     z-index: 999;

// //     h1 {
// //         font-size: 4rem;
// //         margin: 0;
// //     }
// // }

// // Styles for the navbar
// // .navbar-scroll {
// //     // visibility: hidden;
// //     height: $navbar-height;
// //     background-color: $primary-color-dark;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     color: #6D53A6;
// //     position: fixed;
// //     top: 0;
// //     left: 0;
// //     width: 100%;
// //     transition: height $transition-duration ease-in-out;
// //     z-index: 999;

// //     h1 {
// //         font-size: 2rem;
// //         margin: 0;
// //     }
// // }

// // // Styles for the logo


// // // Styles for the navbar when scrolled down
// // nav.scrolled {
// //     height: $navbar-height;
// //     background-color: #fff;
// //     color: #6D53A6;
// //     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

// //     h1 {
// //         font-size: 1.5rem;
// //     }
// // }

// // // Styles for the logo when scrolled down
// // .logo.scrolled {
// //     width: 150px;
// //     height: 60px;
// //     background-color: #6D53A6;
// //     color: #fff;
// //     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

// //     h1 {
// //         font-size: 1.5rem;
// //     }
// // }


// // Colors
// // $primary-color: #6D53A6;
// // $background-color: #F7F7F7;
// // $text-color: #333;

// // Header styles
// // header {
// //     display: flex;
// //     justify-content: space-between;
// //     align-items: center;
// //     padding: 20px;
// //     position: fixed;
// //     top: 0;
// //     left: 0;
// //     right: 0;
// //     background-color: $background-color;
// //     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
// //     z-index: 999;
// //     transition: background-color 0.3s ease-in-out;

// //     &.scroll {
// //         background-color: $primary-color;
// //         color: $text-color;
// //         box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
// //     }
// // }

// // // Logo styles
// // .logo {
// //     font-size: 24px;
// //     font-weight: bold;
// //     color: $primary-color;
// // }

// // // Navigation styles
// // nav {
// //     display: none;

// //     &.show {
// //         display: flex;
// //         flex-direction: column;
// //         position: absolute;
// //         top: 70px;
// //         left: 0;
// //         right: 0;
// //         padding: 10px;
// //         background-color: $background-color;
// //         box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

// //         a {
// //             display: block;
// //             color: $text-color;
// //             margin-bottom: 10px;
// //             transition: color 0.3s ease-in-out;

// //             &:hover {
// //                 color: $primary-color;
// //             }
// //         }
// //     }

// //     @media screen and (min-width: 768px) {
// //         display: flex;
// //         justify-content: flex-end;
// //         align-items: center;

// //         a {
// //             display: block;
// //             margin-left: 30px;
// //             color: $text-color;
// //             transition: color 0.3s ease-in-out;

// //             &:hover {
// //                 color: $primary-color;
// //             }
// //         }
// //     }
// // }

// // // Hamburger menu styles
// // .hamburger {
// //     display: block;
// //     position: relative;
// //     width: 30px;
// //     height: 24px;
// //     cursor: pointer;

// //     span {
// //         display: block;
// //         position: absolute;
// //         height: 3px;
// //         width: 100%;
// //         background-color: $primary-color;
// //         transition: transform 0.3s ease-in-out;
// //     }

// //     span:nth-child(1) {
// //         top: 0;
// //     }

// //     span:nth-child(2),
// //     span:nth-child(3) {
// //         top: 50%;
// //         transform: translateY(-50%);
// //     }

// //     span:nth-child(4) {
// //         bottom: 0;
// //     }

// //     &.active {

// //         span:nth-child(1),
// //         span:nth-child(4) {
// //             transform: rotate(45deg) translate(4px, 4px);
// //         }

// //         span:nth-child(2) {
// //             opacity: 0;
// //         }

// //         span:nth-child(3) {
// //             transform: rotate(-45deg) translate(4px, -4px);
// //         }
// //     }
// // }