// @import "bootstrap/bootstrap";

// Import other SCSS files

@import "base";
@import "_variables";
@import "_media-queries";
@import "color-theme";
@import "cover";
@import "header";

main {
    position: relative;
    top: 80px;
}

.my-element {
    font-size: 16px;

    @include screen-md-min {
        font-size: 18px;
    }

    @include screen-lg-min {
        font-size: 20px;
    }
}

#main {
    top: 100vh;
    margin-top: auto;
    z-index: 150000;
}